line-length = 120
respect-gitignore = false
lint.select = [
    "E",      # pycodestyle errors.
    "F",      # Pyflakes rules.
    "I",      # isort formatting.
    "PLC",    # Pylint convention warnings.
    "PLE",    # Pylint errors.
    "PLR",    # Pylint refactor recommendations.
    "PLW",    # Pylint warnings.
    "NPY201", # NumPY 2.0 migration https://numpy.org/devdocs/numpy_2_0_migration_guide.html#ruff-plugin
]
lint.ignore = [
    "E501",    # Line too long.
    "F722",    # Forward annotation false positive from jaxtyping. Should be caught by pyright.
    "F821",    # Forward annotation false positive from jaxtyping. Should be caught by pyright.
    "PLR2004", # Magic value used in comparison.
    "PLR0915", # Too many statements.
    "PLR0913", # Too many arguments.
    "PLC0414", # Import alias does not rename variable. (this is used for exporting names)
    "PLC0415", # `import` should be at the top-level of a file
    "PLC1901", # Use falsey strings.
    "PLR5501", # Use `elif` instead of `else if`.
    "PLR0911", # Too many return statements.
    "PLR0912", # Too many branches.
    "PLW0603", # Globa statement updates are discouraged.
    "PLW2901", # For loop variable overwritten.
    "PLR1730", # Replace if statement with min/max
    "PLC0206", # Extracting value from dictionary without calling `.items()`
]
